/* сам контейнер переворота */
.flip-card-inner {
  width: 100%;
  height: 100%;
  display: flex; /* <-- чтобы фронт/бэк растягивались */
  justify-content: center; /* <-- по центру */
  align-items: center; /* <-- по центру */
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

/* карточки спереди и сзади */
.flip-card-front,
.flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
